@font-face {
    font-family: gameria;
    src: url('../fonts/GAMERIA.ttf');
}

header {
    display:flex;
    justify-content:center;
}

header > form > div{
    display: flex;
    flex-direction:row;
    justify-content:center;
    gap:10px;
}

header > form > div > label > div{
    border:3px solid #ccc;
    width:5em;
    text-align: center;
}

header > form > div > label > div > p {
    font-weight: 700;
}

header > form > div > button{
    margin-top:20px;
    background-color: #b366ff;
    color:#45008a;
    border:1px solid #b366ff;
    padding:10px 15px 10px 15px; 
    font-weight: 700;
    border-radius:5px;
}

#jogo {
    display: flex;
    justify-content: center;
}

table {
    margin-top:10px;
}

table > tr > td{
    width: 10em;
    height: 10em;
    border:3px solid #8000ff;
}

table > tr > td > img {
    width: 9em;
    height: 9em;
}

#divJogo{
    width:100%;
    text-align: center;
}

#divJogo > #label{
    margin-top:30px;
    font-weight: 200;
    font-family: gameria;
}

#tipo_peca_x:checked ~ .div_x {
    border:3px solid #8000ff;
}

#tipo_peca_o:checked ~ .div_o {
    border:3px solid #8000ff;
}
